<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">FeɘdMe</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" action="/signout" method="post">
                        <button class="btn btn-outline-danger" type="submit">Sign Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container mt-5">
        <h1>Others' Reviews:</h1>
        <!-- Profile content goes here -->
        
        <ol>
            {% for i in rev_dict %}
                
                <li>
                    <!-- <a href="{{ i['link'] }}" style="font-size: 30px;"> {{ i['rest_name'] }}</a> -->
                    <a href="{{ i['link'] }}" style="font-size: 30px;"> {{ i['rest_name'] }}</a>
                    <h4>{{ i['review'] }}</h4>
                        
                </li>
            {% endfor %} 
            <br>
            <br>
            <br>
            <a href="/home" style="font-size: 25px; position: absoright: 0; width: 100px; text-align:right;">Add yours</a>
        </ol>
    </div> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>